@charset "UTF-8";
@import "compass/css3";
@import "compass/layout";
@import "compass/utilities";
@import "compass/typography";

//params
$calendar-bg:#ffffff;
$calendar-border:1px solid #e3e3e3;
$calendar-font-size:14px;
$calendar-font-color:#313131;

$calendar-content-height:216px;

$calendar-line-height:42px;

$calendar-td-colol:#ffffff;
$calendar-td-hover:darken($calendar-td-colol,5%);
$calendar-td-selected:#04be02;
$calendar-td-invalid:#d6d6d6;
$calendar-td-disabled:#f3f3f3;

.z-ui-calendar{
	background-color: $calendar-bg;
	color:$calendar-font-color;
	font-size:$calendar-font-size;
	text-align: center;
	line-height: $calendar-line-height ;
	*position: absolute;
	position: fixed;
	bottom:0;
	width:100%;
	z-index: 1002;
	
}
.calendar-mask{
	display: block;
	height:100%;
	width:100%;
}

.calendar-year-prev,.calendar-year-next,.calendar-month-prev,.calendar-month-next{
	
	a{
		color:$calendar-font-color;
		display: block;
		&:hover{
			background-color: $calendar-td-hover;
		}
	}
}
.calendar-weekday{
	margin-bottom: 0;
}
	
.custom-calendar .calendar-content {
	
}
.calendar-content{
	position: relative;
	// overflow: hidden;
	min-height:$calendar-content-height;
	 .table{
	 	margin-bottom: 0;
	 	table-layout:fixed;
	 }
	 td{

	 	&:hover{
			background-color: $calendar-td-hover;
		}
	 }
	 td.calendar-selected{
	 	background-color: $calendar-td-selected;
	 	color:#fff;
	 }
	 td.calendar-disabled{
	 	background-color: $calendar-td-disabled;
	 	color:#d1d1d1;
	 }
	 td.calendar-invalid{
	 	// background-color: $calendar-td-invalid;
	 	color:#d6d6d6;
	 }
	 td.calendar-empty{
	 	height: 40px;
	 }
	 &.left{
	 	-webkit-animation: calendarOutLeft 0.3s linear 0s;
	 }
	 &.right{
	 	 -webkit-animation: calendarOutRight 0.3s linear 0s;
	 }
}

.calendar-prev,.calendar-actived,.calendar-next{
	position: absolute;
	top:0;
	left:0;
	// height:100%;
	width:100%;
	
}
.calendar-prev{
	transform:translate3d(-100%,0,0);
	-webkit-transform:translate3d(-100%,0,0);
	&.right{
		transform:translate3d(0,0,0);
		transition:all 0.3s linear 0s;
		-webkit-transform:translate3d(0,0,0);
		-webkit-transition:all 0.3s linear 0s;
	}
}

.calendar-actived{
	transform:translate3d(0,0,0);
	-webkit-transform:translate3d(0,0,0);
	&.left{
		transform:translate3d(-100%,0,0);
		transition:all 0.3s linear 0s;
		-webkit-transform:translate3d(-100%,0,0);
		-webkit-transition:all 0.3s linear 0s;
	}

	&.right{
		transform:translate3d(100%,0,0);
		transition:all 0.3s linear 0s;
		-webkit-transform:translate3d(100%,0,0);
		-webkit-transition:all 0.3s linear 0s;
	}
}
.calendar-next{
	transform:translate3d(100%,0,0);
	-webkit-transform:translate3d(100%,0,0);

	&.left{
		transform:translate3d(0,0,0);
		transition:all 0.3s linear 0s;
		-webkit-transform:translate3d(0,0,0);
		-webkit-transition:all 0.3s linear 0s;
	}
}


.calendar-year-select,.calendar-month-select{
	overflow: hidden;
	position: absolute;
	top:43px;
	width:100%;
	display: block;
	height:260px;
	z-index: 1003;
	background-color: $calendar-td-colol;
	ul{
		
		text-align: center;
		color:$calendar-font-color;
		line-height: $calendar-line-height;

	}

	li:hover{
		background-color: darken($calendar-td-colol,5%);
	}
	
}



