@charset "UTF-8";
@import "compass/css3";
@import "compass/layout";
@import "compass/utilities";
@import "compass/typography";


$li_height:40px;

$content_height:$li_height*5;

.date-picker{

		position: fixed;
		top:50%;
		left:50%;
		margin-left: -150px;
		margin-top: -150px;
		display: block;
		z-index: 1001;
		background-color: #fff;
		box-shadow: 0 2px 10px #000;
		.date-header{
			h1{
				line-height:50px;
				text-align: center;
				font-weight: 600;
				color:#53ace9;
			}
		}
		// @include border-radius(10px);
		.date-mask-up,.date-mask-down{
			position: absolute;
			width:100%;
			height:$li_height;
			z-index: 1;

		}

		.year-b-t{
	    	width:120px;
	    }
	    .month-b-t{
	    	width:90px;
	    }
	    .day-b-t{
	    	width:90px;
	    }
		.date-mask-up{
			top:$li_height;
			
			.year-b-t,.month-b-t,.day-b-t{
				
				.b-border{
					margin:0 10px ;
					height: $li_height;
					border-bottom: 1px solid #53ace9;
				}
				
			}
		}

		.date-mask-down{
			bottom:$li_height;
			.year-b-t,.month-b-t,.day-b-t{
				
				
				.b-border{
					margin:0 10px ;
					height: $li_height;
					border-top: 1px solid #53ace9;
				}
				
			}
		}
		.date-content{
			overflow: hidden;
			position: relative;
			border-top:1px solid #53ace9;
			border-bottom:1px solid #e3e4e6;
		    .year-wrapper{
		    	width:120px;

		    }
		    .month-wrapper{
		    	width:90px;
		    }
		    .day-wrapper{
		    	width:90px;
		    }
		}
		.date-year,.date-month,.date-day{
			overflow: hidden;
			height:$content_height;
		}


		.z-btn-block{
			border-style:none !important;
		}
		.date-ok{
			border-right:1px solid #e3e4e6 !important;
		}
		.date-list li{
			// padding:10px 5px;
			line-height: $li_height;
			height:$li_height;
			text-align: center;
			
			&.date-selected{
				color:#111;
				font-weight:600;
			}

			&.date-disabled{
				color:#ddd !important;
			}
		}
}

.date-picker-mask{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	min-height:100%;
	width:100%;
	z-index: 1000;
	background-color: #000;
	@include opacity(0.5);
}