.ui-tabs {
	-webkit-tap-highlight-color: transparent
}

.ui-tabs-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 11;
	position: relative
}

.ui-tabs-content {
	position: relative;
	min-height: 100px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.ui-tabs-content .ui-tabs-panel {
	display: none;
	width: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
.ui-tabs-content .ui-tabs-panel.ui-state-active.in,
.ui-tabs-content .ui-tabs-panel.ui-state-active.out{
		min-height: 400px;
		top: 0;
		left:0;
		bottom:0;
		position: absolute;
}


.ui-tabs-content .ui-tabs-panel.ui-state-active,.ui-viewport-transitioning .ui-tabs-panel.out
{
	display: block;
	z-index: 1;
	
}

.ui-tabs-content .ui-tabs-panel.ui-state-active {
	z-index: 2
}

.ui-tabs-nav {
	display: -webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	display:box;
	width: 100%
}

.ui-tabs-nav li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	text-align: center;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	white-space: nowrap;
	cursor: pointer
}

.ui-tabs-nav li a {
	text-decoration: none;
}

.ui-tabs-nav li:last-child {
}

.ui-tabs-nav li.ui-state-active {
}

.ui-tabs-content {
}

.ui-tabs-content .ui-tabs-panel {
	padding: 1em
}

.ui-tabs-panel .ui-loading {
	position: absolute;
	left: 50%;
	top: 50px;
	margin-top: -20px;
	margin-left: -20px
}

.ui-tabs-panel .ui-load-error {
	color: red;
	text-align: center
}

.ui-toolbar {
	width: 100%;
	z-index: 999
}
