@charset "UTF-8";
/**zui 组件**/
.ui-dialog { overflow: hidden; margin: 0 auto; z-index: 1002; position: absolute; left: 0; top: -10000px; display: none; /* background-color: #fff; */ -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6); -webkit-border-radius: 3px; -webkit-transform: translateZ(0); -webkit-user-select: none; -webkit-user-drag: none; }

.ui-mask { position: absolute; top: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; display: none; z-index: 1001; min-height: 100%; -webkit-transform: translateZ(0); -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-user-select: none; -webkit-user-drag: none; }

.ui-mask.dialog-mask { background-color: #111; }

.ui-dialog .ui-dialog-title { position: relative; }
.ui-dialog .ui-dialog-close { position: absolute; top: 5px; right: 5px; }
.ui-dialog .ui-dialog-container { position: relative; }
.ui-dialog .ui-dialog-title { padding: 10px 0; font-size: 16px; text-align: center; font-weight: 700; -webkit-border-radius: 3px 3px 0 0; }
.ui-dialog .ui-dialog-close { cursor: pointer; border-width: 0; display: inline-block; padding: 7px 9px; margin: 2px; line-height: 1; -webkit-border-radius: 3px; }
.ui-dialog .ui-dialog-close-hover { background-color: rgba(255, 255, 255, 0.4); }
.ui-dialog .ui-dialog-content { padding: 25px; position: relative; text-align: center; }
.ui-dialog.alert-dialog, .ui-dialog.confirm-dialog { background-color: #fff; }
.ui-dialog.flash-dialog { background-color: rgba(0, 0, 0, 0.7); }
.ui-dialog.flash-dialog .ui-dialog-content { padding: 10px 15px; color: #fff; }
.ui-dialog.load-dialog { padding: 15px 0; background-color: #111; color: #fff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.ui-dialog.load-dialog .ui-loading { margin-top: -3px; margin-right: 3px; }
.ui-dialog.load-dialog .ui-dialog-content { padding: 0; }

.ui-dialog-btns { table-layout: fixed; display: table; border-collapse: collapse; width: 100%; }
.ui-dialog-btns .ui-btn { padding: 0; width: 100%; display: table-cell; float: none; text-align: center; height: 44px; line-height: 44px; color: #2f6ac6; border: 1px solid #bcbcbc; background-color: #fff; border-bottom: 0 none; cursor: pointer; }
.ui-dialog-btns .ui-btn:hover, .ui-dialog-btns .ui-btn:focus { background-color: #f1f1f1; }
.ui-dialog-btns .ui-btn:first-child { -webkit-border-bottom-left-radius: 3px; border-left: 0 none; }
.ui-dialog-btns .ui-btn:last-child { -webkit-border-bottom-right-radius: 3px; border-right: 0 none; }
.ui-dialog-btns .ui-btn.ui-state-hover { background-color: #e2e2e2; }

@media all and (min-device-width: 768px) and (max-device-width: 1024px) { .ui-dialog { min-width: 500px; }
  .ui-dialog .ui-dialog-title { min-height: 1.1em; } }
.ui-loading { width: 20px; height: 20px; text-indent: -10000px; background: url(./images/ui-loading.png) 0 0/20px 20px no-repeat; vertical-align: middle; display: inline-block; -webkit-background-size: 20px 20px; -webkit-animation-name: ui-loading-anim; -webkit-animation-duration: 1s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: step-start; }

.ui-tabs { -webkit-tap-highlight-color: transparent; }

.ui-tabs-nav { list-style: none; padding: 0; margin: 0; z-index: 11; position: relative; }

.ui-tabs-content { position: relative; min-height: 100px; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }

.ui-tabs-content .ui-tabs-panel { display: none; width: 100%; overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ui-tabs-content .ui-tabs-panel.ui-state-active.in, .ui-tabs-content .ui-tabs-panel.ui-state-active.out { min-height: 400px; top: 0; left: 0; bottom: 0; position: absolute; }

.ui-tabs-content .ui-tabs-panel.ui-state-active, .ui-viewport-transitioning .ui-tabs-panel.out { display: block; z-index: 1; }

.ui-tabs-content .ui-tabs-panel.ui-state-active { z-index: 2; }

.ui-tabs-nav { display: -webkit-box; display: -moz-box; display: -o-box; display: -ms-box; display: box; width: 100%; }

.ui-tabs-nav li { -webkit-box-flex: 1; -moz-box-flex: 1; text-align: center; font-size: 16px; height: 35px; line-height: 35px; white-space: nowrap; cursor: pointer; }

.ui-tabs-nav li a { text-decoration: none; }

.ui-tabs-content .ui-tabs-panel { padding: 1em; }

.ui-tabs-panel .ui-loading { position: absolute; left: 50%; top: 50px; margin-top: -20px; margin-left: -20px; }

.ui-tabs-panel .ui-load-error { color: red; text-align: center; }

.ui-toolbar { width: 100%; z-index: 999; }

.z-ui-select { z-index: 1002; background: #f2f2f2; overflow: hidden; }

body.mobilebone { margin: 0; -webkit-user-select: none; user-select: none; -ms-touch-action: none; }
body.mobilebone a, body.mobilebone img { -webkit-touch-callout: none; }

html.mobilebone, body.mobilebone { height: 100%; width: 100%; overflow-x: hidden; /* mask layer when ajax sending... */ }
html.mobilebone .page, body.mobilebone .page { position: absolute; left: 0; top: 0; width: 100%; /*height:100%; */ -webkit-animation: .35s ease-in-out; animation: .35s ease-in-out; }
html.mobilebone .page.out, body.mobilebone .page.out { display: none; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
html.mobilebone .mask, body.mobilebone .mask { height: 100%; width: 100%; background-color: rgba(255, 255, 255, 0.35); position: absolute; z-index: 9; }
html.mobilebone .loading, body.mobilebone .loading { /* more info: http://www.zhangxinxu.com/wordpress/?p=3357 */ width: 3px; height: 3px; border-radius: 100%; box-shadow: 0 -10px 0 1px currentColor, 10px 0px currentColor, 0 10px currentColor, -10px 0 currentColor, -7px -7px 0 0.5px currentColor, 7px -7px 0 1.5px currentColor, 7px 7px currentColor, -7px 7px currentColor; /* left-bottom */ -webkit-animation: loading 1s step-start infinite; animation: loading 1s step-start infinite; /*center*/ position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }

.slider { display: block; position: relative; overflow: hidden; }

.slider ul { list-style: none; }

.slider-content { display: block; position: relative; z-index: 9; background: #fff; }

.slider-content ul { width: 100%; display: block; position: relative; }

.slider-content > ul { margin-right: 30px; width: auto; }
.slider-content > ul.search-result { margin-right: 0; }

.slider-content ul li { width: 100%; position: relative; }

.slider-content ul ul li a { padding: 15px; display: block; border-bottom: 1px solid #f3f3f3; text-transform: capitalize; }

.slider-content ul ul li a:hover { background: #f3faff; border-color: #d5ebf9; }

.slider-content .title { padding: 5px 0; text-indent: 10px; background: #bbb; color: #fff; width: 100%; float: left; font-weight: bold; text-transform: uppercase; }

.slider .slider-nav li.selected a { font-weight: bold; }

.slider .slider-nav { position: fixed; right: 0; z-index: 11; top: 60px; width: 30px; }

.slider .slider-nav li:after { 	/*  background: none repeat scroll 0 0 #158bfd; border: 1px solid #158bfd; content: ""; display: block; height: 5px; margin-left: 12px; width: 5px;
	@include border-radius(5px); */ }

.slider .slider-nav ul { padding: 5px 0; }

.slider .slider-nav li a { cursor: pointer; display: block; padding: 2px 0; line-height: 1em; text-align: center; text-transform: uppercase; font-size: 12px; width: 30px; }

.slider #debug { position: absolute; bottom: 0; left: 0; padding: 5px; background: #000; color: #fff; }

.slider .arrow { font-size: 0px; line-height: 0%; width: 0px; border-bottom: 8px solid #fff; border-left: 5px solid #333; border-right: 5px solid #333; position: relative; top: 5px; }

.slider .down { border-bottom: none; border-top: 8px solid #fff; top: 15px; }

.slider .slide-up, .slider .slide-down { height: 20px; background: #333; text-align: center; cursor: pointer; float: right; width: 100%; position: relative; }

.slider-content ul li.selected:after { background-image: url("../images/icons-pufa.png"); background-position: 0 -197px; background-repeat: no-repeat; background-size: 500px 500px; content: ""; display: block; height: 15px; margin-top: -9px; position: absolute; right: 5px; top: 50%; width: 18px; }

.slider-content ul li.selected a { font-weight: bold; font-size: 16px; }

.slider-mask { position: fixed; z-index: 8; background-color: #f2f2f2; height: 100%; width: 100%; top: 60px; }
.slider-mask .slider-no-suggestion { color: #666666; text-align: center; height: 40px; margin: 50px auto; display: block; }

.suggestion-title { background-color: #f2f2f2; position: relative; z-index: 11; padding: 15px; }
.suggestion-title input.suggestion-input { background-image: url("../images/icons-pufa.png"); background-position: 10px -156px; background-repeat: no-repeat; background-size: 500px 500px; line-height: 16px; text-indent: 35px; width: 100%; padding: 10px 0; }
.suggestion-title a.suggestion-cancel { color: #fa4c1a; font-size: 13px; display: block; line-height: 30px; text-align: center; width: 80%; }

.ui-refresh .ui-refresh-down .ui-refresh-icon, .ui-refresh .ui-refresh-up .ui-refresh-icon { display: inline-block; width: 25px; height: 25px; vertical-align: middle; background: url(./images/r-flip.png) no-repeat; -webkit-background-size: 25px 25px; -webkit-transition-property: -webkit-transform; -webkit-transition-duration: 400ms; -webkit-transition-timing-function: ease-in-out; }

.ui-refresh .ui-refresh-down .ui-refresh-icon, .ui-refresh .ui-refresh-up .ui-refresh-flip { -webkit-transform: rotate(180deg) translateZ(0); }

.ui-refresh .ui-refresh-down .ui-refresh-flip { -webkit-transform: rotate(0deg) translateZ(0); }

.ui-refresh .ui-refresh-down .ui-loading, .ui-refresh .ui-refresh-up .ui-loading { -webkit-transition-duration: 0ms; }

.ui-refresh-action { text-align: center; height: 45px; line-height: 45px; color: #999; }

.ui-refresh-action .ui-loading { display: none; }

.ui-refresh-action.loading { text-align: center; }

.ui-refresh-action.loading .ui-loading { display: inline-block; vertical-align: middle; }

.ui-refresh-action.loading .ui-refresh-down-label, .ui-refresh-action.loading .ui-refresh-up-label { display: none; }

.z-ui-calendar { background-color: #ffffff; color: #313131; font-size: 14px; text-align: center; line-height: 42px; *position: absolute; position: fixed; bottom: 0; width: 100%; z-index: 1002; }

.calendar-mask { display: block; height: 100%; width: 100%; }

.calendar-year-prev a, .calendar-year-next a, .calendar-month-prev a, .calendar-month-next a { color: #313131; display: block; }
.calendar-year-prev a:hover, .calendar-year-next a:hover, .calendar-month-prev a:hover, .calendar-month-next a:hover { background-color: #f2f2f2; }

.calendar-weekday { margin-bottom: 0; }

.calendar-content { position: relative; min-height: 216px; }
.calendar-content .table { margin-bottom: 0; table-layout: fixed; }
.calendar-content td:hover { background-color: #f2f2f2; }
.calendar-content td.calendar-selected { background-color: #04be02; color: #fff; }
.calendar-content td.calendar-disabled { background-color: #f3f3f3; color: #d1d1d1; }
.calendar-content td.calendar-invalid { color: #d6d6d6; }
.calendar-content td.calendar-empty { height: 40px; }
.calendar-content.left { -webkit-animation: calendarOutLeft 0.3s linear 0s; }
.calendar-content.right { -webkit-animation: calendarOutRight 0.3s linear 0s; }

.calendar-prev, .calendar-actived, .calendar-next { position: absolute; top: 0; left: 0; width: 100%; }

.calendar-prev { transform: translate3d(-100%, 0, 0); -webkit-transform: translate3d(-100%, 0, 0); }
.calendar-prev.right { transform: translate3d(0, 0, 0); transition: all 0.3s linear 0s; -webkit-transform: translate3d(0, 0, 0); -webkit-transition: all 0.3s linear 0s; }

.calendar-actived { transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); }
.calendar-actived.left { transform: translate3d(-100%, 0, 0); transition: all 0.3s linear 0s; -webkit-transform: translate3d(-100%, 0, 0); -webkit-transition: all 0.3s linear 0s; }
.calendar-actived.right { transform: translate3d(100%, 0, 0); transition: all 0.3s linear 0s; -webkit-transform: translate3d(100%, 0, 0); -webkit-transition: all 0.3s linear 0s; }

.calendar-next { transform: translate3d(100%, 0, 0); -webkit-transform: translate3d(100%, 0, 0); }
.calendar-next.left { transform: translate3d(0, 0, 0); transition: all 0.3s linear 0s; -webkit-transform: translate3d(0, 0, 0); -webkit-transition: all 0.3s linear 0s; }

.calendar-year-select, .calendar-month-select { overflow: hidden; position: absolute; top: 43px; width: 100%; display: block; height: 260px; z-index: 1003; background-color: #ffffff; }
.calendar-year-select ul, .calendar-month-select ul { text-align: center; color: #313131; line-height: 42px; }
.calendar-year-select li:hover, .calendar-month-select li:hover { background-color: #f2f2f2; }

.date-picker { position: fixed; top: 50%; left: 50%; margin-left: -150px; margin-top: -150px; display: block; z-index: 1001; background-color: #fff; box-shadow: 0 2px 10px #000; }
.date-picker .date-header h1 { line-height: 50px; text-align: center; font-weight: 600; color: #53ace9; }
.date-picker .date-mask-up, .date-picker .date-mask-down { position: absolute; width: 100%; height: 40px; z-index: 1; }
.date-picker .year-b-t { width: 120px; }
.date-picker .month-b-t { width: 90px; }
.date-picker .day-b-t { width: 90px; }
.date-picker .date-mask-up { top: 40px; }
.date-picker .date-mask-up .year-b-t .b-border, .date-picker .date-mask-up .month-b-t .b-border, .date-picker .date-mask-up .day-b-t .b-border { margin: 0 10px; height: 40px; border-bottom: 1px solid #53ace9; }
.date-picker .date-mask-down { bottom: 40px; }
.date-picker .date-mask-down .year-b-t .b-border, .date-picker .date-mask-down .month-b-t .b-border, .date-picker .date-mask-down .day-b-t .b-border { margin: 0 10px; height: 40px; border-top: 1px solid #53ace9; }
.date-picker .date-content { overflow: hidden; position: relative; border-top: 1px solid #53ace9; border-bottom: 1px solid #e3e4e6; }
.date-picker .date-content .year-wrapper { width: 120px; }
.date-picker .date-content .month-wrapper { width: 90px; }
.date-picker .date-content .day-wrapper { width: 90px; }
.date-picker .date-year, .date-picker .date-month, .date-picker .date-day { overflow: hidden; height: 200px; }
.date-picker .z-btn-block { border-style: none !important; }
.date-picker .date-ok { border-right: 1px solid #e3e4e6 !important; }
.date-picker .date-list li { line-height: 40px; height: 40px; text-align: center; }
.date-picker .date-list li.date-selected { color: #111; font-weight: 600; }
.date-picker .date-list li.date-disabled { color: #ddd !important; }

.date-picker-mask { position: absolute; top: 0; left: 0; bottom: 0; right: 0; min-height: 100%; width: 100%; z-index: 1000; background-color: #000; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.in { -webkit-animation-timing-function: ease-out; -webkit-animation-duration: 350ms; }

.out { -webkit-animation-timing-function: ease-in; -webkit-animation-duration: 225ms; }

.slide { -webkit-animation-timing-function: linear; -webkit-animation-duration: 350ms; }

.slide.out { -webkit-animation-name: slideouttoleft; -webkit-transform: translateX(-100%); }

.slide.in { -webkit-animation-name: slideinfromright; -webkit-transform: translateX(0); }

.slide.out.reverse { -webkit-animation-name: slideouttoright; -webkit-transform: translateX(100%); }

.slide.in.reverse { -webkit-animation-name: slideinfromleft; -webkit-transform: translateX(0); }

.slide.in { -webkit-animation-name: slideinfromright; animation-name: slideinfromright; -webkit-transform: none; transform: none; }

.slide.out { -webkit-animation-name: slideouttoleft; animation-name: slideouttoleft; }

.slide.reverse.out { -webkit-animation-name: slideouttoright; animation-name: slideouttoright; }

.slide.reverse.in { -webkit-animation-name: slideinfromleft; animation-name: slideinfromleft; }

@-webkit-keyframes slideinfromright { from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(0); } }
@-webkit-keyframes slideinfromleft { from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(0); } }
@-webkit-keyframes slideouttoleft { from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-100%); } }
@-webkit-keyframes slideouttoright { from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(100%); } }
@-webkit-keyframes ui-loading-anim { 8.32%,
	from { -webkit-transform: rotate(0deg); }
  16.65%,8.33% { -webkit-transform: rotate(30deg); }
  16.66%,24.99% { -webkit-transform: rotate(60deg); }
  25%,33.32% { -webkit-transform: rotate(90deg); }
  33.33%,41.65% { -webkit-transform: rotate(120deg); }
  41.66%,49.99% { -webkit-transform: rotate(150deg); }
  50%,58.32% { -webkit-transform: rotate(180deg); }
  58.33%,66.65% { -webkit-transform: rotate(210deg); }
  66.66%,74.99% { -webkit-transform: rotate(240deg); }
  75%,83.32% { -webkit-transform: rotate(270deg); }
  83.33%,91.65% { -webkit-transform: rotate(300deg); }
  91.66%,99.99% { -webkit-transform: rotate(330deg); }
  to { -webkit-transform: rotate(360deg); } }
@-webkit-keyframes slideinfromright { from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(0); } }
@keyframes slideinfromright { from { transform: translateX(100%); }
  to { transform: translateX(0); } }
@-webkit-keyframes slideinfromleft { from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(0); } }
@keyframes slideinfromleft { from { transform: translateX(-100%); }
  to { transform: translateX(0); } }
@-webkit-keyframes slideouttoleft { from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-100%); } }
@keyframes slideouttoleft { from { transform: translateX(0); }
  to { transform: translateX(-100%); } }
@-webkit-keyframes slideouttoright { from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(100%); } }
@keyframes slideouttoright { from { transform: translateX(0); }
  to { transform: translateX(100%); } }
/* chrysanthemum loading effect */
@-webkit-keyframes loading { 0% { -webkit-transform: rotate(0deg); }
  12% { -webkit-transform: rotate(45deg); }
  25% { -webkit-transform: rotate(90deg); }
  37% { -webkit-transform: rotate(135deg); }
  50% { -webkit-transform: rotate(180deg); }
  63% { -webkit-transform: rotate(225deg); }
  75% { -webkit-transform: rotate(270deg); }
  87% { -webkit-transform: rotate(315deg); }
  90% { -webkit-transform: rotate(360deg); } }
@keyframes loading { 0% { transform: rotate(0deg); }
  12% { transform: rotate(45deg); }
  25% { transform: rotate(90deg); }
  37% { transform: rotate(135deg); }
  50% { transform: rotate(180deg); }
  63% { transform: rotate(225deg); }
  75% { transform: rotate(270deg); }
  87% { transform: rotate(315deg); }
  90% { transform: rotate(360deg); } }
@-webkit-keyframes slideinfromright { from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(0); } }
@keyframes slideinfromright { from { transform: translateX(100%); }
  to { transform: translateX(0); } }
@-webkit-keyframes slideinfromleft { from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(0); } }
@keyframes slideinfromleft { from { transform: translateX(-100%); }
  to { transform: translateX(0); } }
@-webkit-keyframes slideouttoleft { from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-100%); } }
@keyframes slideouttoleft { from { transform: translateX(0); }
  to { transform: translateX(-100%); } }
@-webkit-keyframes slideouttoright { from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(100%); } }
@keyframes slideouttoright { from { transform: translateX(0); }
  to { transform: translateX(100%); } }
/* chrysanthemum loading effect */
@-webkit-keyframes loading { 0% { -webkit-transform: rotate(0deg); }
  12% { -webkit-transform: rotate(45deg); }
  25% { -webkit-transform: rotate(90deg); }
  37% { -webkit-transform: rotate(135deg); }
  50% { -webkit-transform: rotate(180deg); }
  63% { -webkit-transform: rotate(225deg); }
  75% { -webkit-transform: rotate(270deg); }
  87% { -webkit-transform: rotate(315deg); }
  90% { -webkit-transform: rotate(360deg); } }
@keyframes loading { 0% { transform: rotate(0deg); }
  12% { transform: rotate(45deg); }
  25% { transform: rotate(90deg); }
  37% { transform: rotate(135deg); }
  50% { transform: rotate(180deg); }
  63% { transform: rotate(225deg); }
  75% { transform: rotate(270deg); }
  87% { transform: rotate(315deg); }
  90% { transform: rotate(360deg); } }
